body{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	top: 200px;
	background-color: rgb(27, 25, 25);
}

.container{
	height:400px;
	width: 290px;
	background-color:#f5faf4fa;
	border-radius:20px;
}

.input{
	height:70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputbox{
	height:30px;
	width:210px;
	background-color:#f2f9f4;
	border-radius:5px;
	color:rgb(0, 0, 0);
	font-size: 14px;
}

.btns{
	height: 300px;
	width: 200px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0px 40px;
}

.btn{
	background-color:#4c4f4d;
	border-radius: 50px;
	margin: 2px;
	color:white;
	height:50px;
	width:50px;
	border:2px solid rgb(77, 75, 75);
	text-align:left;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}

.btn:hover{
	box-shadow: 5px 5px 10px #090909;	
}

.clear{
	background-color: rgb(214, 147, 74);
}

.btn:hover{
	border: 2px solid gray;
}
  